.map-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 3px;
    padding: 0em 0em;
  }
  
  .map-frame {
    border: 1px solid black;
    height: 109%;
    width: 100%;
  }
  
  #map {
    height: 109%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 3px;
    padding: 23em ;
  }