<h3>detail</h3>
<div *ngIf="person">
    <div>
        <label>ID: </label> {{person.id}}
    </div>
    <div>
        <label>First Name: </label> {{person.firstname}}
    </div>
    <div>
        <label>Last Name: </label> {{person.lastname}}
    </div>
    <div>
        <label>Age: </label> {{person.age}}
    </div>
    <div>
        <label>Description: </label> {{person.description}}
    </div>
    <div>
        <label>City: </label> {{person.city}}
    </div>
    <div>
        <label>Country: </label> {{person.country}}
    </div>
    <div>
        <label>Street: </label> {{person.street}}
    </div>
    <div>
        <label>Weather Condition: </label> {{person.weather_condition}}
    </div>
</div>